<label for="title">title</label>
<input
  class="form-control mt-3"
  type="text"
  value="<%= article.title%>"
  class="form-control"
  id="title"
  name="title"
/>
<label for="description">description</label>
<textarea class="form-control mt-3" name="description" id="description">
    <%= article.description%></textarea
>
<label for="markdown">markdown</label>
<textarea class="form-control my-3 " name="markdown" id="markdown">
<%= article.markdown%></textarea
>
<button class="btn btn-primary " type="submit">Save</button>
<a class="btn btn-secondary ml-3" href="/">Cancele</a>
